@use "../style/mixin.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.error__span {
  @include display();
  position: relative;
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.247);
  min-width: 100px;
  box-shadow: 0px 0px 20px -1px rgb(from var(--app-black) r g b / 0.5);
  gap: 10px;
  backdrop-filter: blur(10px);
  color: var(--app-text);
  svg {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
  }

  .error__close {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 23px;
    height: 23px;
    // background-color: red;
    svg {
      width: 23px;
      height: 23px;
      min-width: 23px;
      min-height: 23px;
    }
    border-radius: 50px;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    // visibility: hidden;
    @media (hover: hover) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &-error {
    color: var(--status-error);
  }

  &-info {
    color: var(--status-pending);
  }

  &-success {
    color: var(--status-success);
  }

  &-wrap {
    @include display();
    z-index: 105;
    width: fit-content;
    position: fixed;
    flex-direction: column;
    padding: 0px 10px;
    // background-color: red;
    margin: auto;
  }

  &-text {
    @include inter();
    max-width: 400px;
  }
}

.error__none {
  visibility: hidden;
}
@keyframes notify {
  0% {
    transform: translateY(-100px) scale(0.8) rotateX(0.8turn);
    visibility: hidden;
  }
  100% {
    transform: translateY(0px);
    visibility: visible;
  }
}

@keyframes notify-close {
  0% {
    transform: translateY(-100px);
    visibility: hidden;
  }
  100% {
    transform: translateY(-100px);
    visibility: hidden;
  }
}

.animate-notify {
  animation: notify 0.5s;
}
.animate-notify-close {
  animation: notify-close 0.5s forwards;
}

.animate-close {
  animation-name: close;
  animation-duration: 0.1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

@keyframes close {
  0% {
    visibility: hidden;
  }
  100% {
    color: var(--app-text);
    background-color: rgb(from var(--app-bg-main) r g b / 0.5);
    backdrop-filter: blur(1px);
    visibility: visible;
  }
}

/* inter-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../../public/fonts/inter-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../public/fonts/inter-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../../public/fonts/inter-v20-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../../public/fonts/inter-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../../public/fonts/inter-v20-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.global {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  position: relative;
  width: 100%;

  &__back-img {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    left: 0px;
    z-index: -2;
    filter: brightness(0.3);
    user-select: none;
    -webkit-user-select: none;

    &-light {
      filter: brightness(1.1) !important;
    }
  }

  &__main {
    @include display;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .container {
    max-width: 1500px;
  }
}

li {
  list-style: none;
}

.body {
  @include display();
  position: relative;
  align-items: start;
  width: 100%;
  background-color: var(--app-bg-dark);
}

.disable-admin {
  position: relative;
  cursor: alias !important;
  padding: 5px;
  background-color: rgb(from var(--app-black) r g b / 0.1);
  border-radius: 10px;
  &-child {
    @include display();
    gap: 5px;
    filter: brightness(0.6) !important;
    z-index: 0;
  }
  &-span {
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
    color: rgb(from var(--app-light-blue) r g b / 1);
    svg {
      width: 17px;
      height: 17px;
      stroke-width: 0.3px;
      stroke: var(--app-black);
    }
  }

  &-td {
    padding: 5px;
  }
}

.global-tooltip {
 @include inter();
 font-size: 12px; 
  position: fixed;
  pointer-events: none;
  border-radius: 10px;
  background-color: rgb(from var(--app-black) r g b /0.5);
  padding: 7px 10px;
  backdrop-filter: blur(10px);

}