:root {
  --app-bg-main: #1A1D26;
  --app-border: #252936;
  --app-sidebar:#1E222D;
  --app-pink: #D23A7A;
  --app-purple: #7E3AF2;
  --app-light-blue:#0082FF;
  --app-neon-cyan: #00D4FF;
  --app-yellow: #FFA800;
  --app-orange: #FF6B00;
  --app-cyan: #00E5FF;
  --app-neon-purple: #A133FF;
  --app-hot-pink: #FF2D7A;
  --app-text: #FFFFFF;
  --app-red: rgb(238, 53, 47);
  --app-green: rgb(39, 177, 39);
  --secondary-text: #9FA4B0;
  --status-success: #00C853;
  --status-pending: #FFB300;
  --status-error: #FF2D55;
}